#BaseLayout {
    height: 100vh;
    width: 100vw;
    background-color: var(--c_bg_base);

    #container {
        position: fixed;
        inset: 0;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: -5px 5px 10px 1px var(--c_shadow_grey);
        border-color: var(--c_black);
        background-color: var(--c_bg_container);

        #content {
            height: 92vh;
            margin: 1rem;
            border-radius: 1rem;
            padding: 1em;
            background-color: var(--c_bg_content);
        }
    }
}
